:root{
    --fundo: #bb8ece;
   --cor-frente: #FF1493;
   --cor-verso: #FF0000;
   --destaque: #FFFF00;
   --preto: #000000;
   --branco: #ffffff;
}
body{
    background-color: var(--fundo);
}