:root{
    --fundo: #9370DB;
   --cor-frente: #4B0082;
   --cor-verso: #9932CC;
   --destaque: #8B008B;
   --preto: #000000;
   --branco: #ffffff;
}
body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}


#container{
     padiing: 2rem;
     display: flex;
     gap: 3rem;
     flex-wrap: wrap;
 }

 .cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
 }

 .conteudo-cartao{
    background-color: var(--cor-frente);
    height: 100%;
    color: var(--branco);
    text-align: center;
 }

 .conteudo-cartao h3{
    position: absolute;
    border: 1px solid var(--destaque);
    color: var(--destaque);
    margin: 0.6rem;
    padding: 0.6rem;
    font-size: 1.2vw;
    border-radius: 0.6rem;
 }

 .conteudo-cartao p{
    margin-top: 4rem;
    padding: 2rem;
    font-size: 1.4vw;
 }

 .pergunta-cartao, resposta-cartao{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
 }