:root{
    --fundo: #9370DB;
   --cor-frente: #4B0082;
   --cor-verso: #9932CC;
   --destaque: #8B008B;
   --preto: #000000;
   --branco: #ffffff;
}
body{
    background-color: var(--fundo);
    margin: 0;
}
footer{
    position: absolute;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}


#container{
     paiing: 2rem;
     display: flex;
     gap: 3rem;
     flex-wrap: wrap;
 }

 .cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
 }